<a href="https://colab.research.google.com/github/varunsawhney8/Projects/blob/main/dump_21aug.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
sentiment=pd.DataFrame(columns=["Description","Sentiment"])
sentiment['Description']=['1 day-News Day Event ','3 day-News Day Event ','7 day-News Day Event ','15 day-News Day Event ']
label={0: 'Neutral',1:'Positive',2:'Negative'}
sentiment['Sentiment']=[label[data['1d_S'][-1:]],label[data['3d_S'][-1:]],label[data['7d_S'][-1:]],label[data['15d_S'][-1:]]]

In [12]:
def backtesting(n):
  backtesting=pd.DataFrame(columns=["Description","Total No of Oppurtunities","Profitable","Loss","No Profit No Loss"])
  backtesting['Description']=['Rolling 1 day-News Day Event ','Rolling 3 day-News Day Event ','Rolling 7 day-News Day Event ','Rolling 15 day-News Day Event '
  
  return backtesting

In [13]:
back1=backtesting(1)

In [14]:
back1.head()

                      Description  ... No Profit No Loss
0   Rolling 1 day-News Day Event   ...               NaN
1   Rolling 3 day-News Day Event   ...               NaN
2   Rolling 7 day-News Day Event   ...               NaN
3  Rolling 15 day-News Day Event   ...               NaN

[4 rows x 5 columns]

In [10]:
label=

In [11]:
label[0]

'Neutral'

In [23]:
data2=pd.DataFrame(columns=["Date","Label","Label3","Label7","perc_change1","Perc_change3","Perc_change_7"])

In [29]:
import numpy as np
data2=pd.DataFrame(columns=["Date","Label","Label3","Label7","perc_change1","Perc_change3","Perc_change_7"])
data2['Date']=[np.nan for i in range(1,50,1)]

In [30]:
data2.head()

   Date Label Label3 Label7 perc_change1 Perc_change3 Perc_change_7
0   NaN   NaN    NaN    NaN          NaN          NaN           NaN
1   NaN   NaN    NaN    NaN          NaN          NaN           NaN
2   NaN   NaN    NaN    NaN          NaN          NaN           NaN
3   NaN   NaN    NaN    NaN          NaN          NaN           NaN
4   NaN   NaN    NaN    NaN          NaN          NaN           NaN