<a href="https://colab.research.google.com/github/varunsawhney8/Projects/blob/main/sample20Aug.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd
import numpy as np


path='/content/Reliance_Final_Ndtv_data4.xlsx'
data=pd.read_excel(path)


data=data[::-1].reset_index()
data.drop(columns=['index'],axis=True,inplace=True)

path='/content/Reliance_Nse_data2.csv'
data1=pd.read_csv(path)


data['Date']=data['Date'].astype('str')

data["Price"]=[np.nan for i in range(data.shape[0])]




for i in range(len(data['Date'])):
    for j in range(len(data1['Date'])):
        if data['Date'][i]==data1['Date'][j]:
            data["Price"][i]=data1["Close"][j]
        

data["Price"]=data["Price"].fillna(method='bfill')

data["Price"][372:]=2174



# =============================================================================
# # Simple Moving Average
# 
# data1['SMA_3'] = data1.iloc[:,1].rolling(window=3).mean().round()
# 
# # Weighted Moving Average
# 
# weights = np.arange(1,11)
# wma10 = data1['Close'].rolling(10).apply(lambda prices: np.dot(prices, weights)/weights.sum(), raw=True)
# 
# 
# =============================================================================
# Exponential Moving Average

#data['7day_ea'] = data['Price'].ewm(span=7).mean()

data.columns
data.drop(columns=['Media','Article','Keywords'],inplace=True,axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
data.columns

Index(['Date', 'Title', 'Price'], dtype='object')

In [30]:
!pip install transformers
from transformers import pipeline
classifier = pipeline('sentiment-analysis', model="ProsusAI/finbert")
list3=[]

for i in range(len(data['Title'])):
    a=(classifier(data['Title'][i]))
    a=a[0]
    a=list(a.values())[0]

    if a=='positive':
        a=1
        list3.append(a)
    elif a=='negative' :
        a=2
        list3.append(a)
    else:
        a=0
        list3.append(a)

data['finbert']=list3

del list3

Requirement already satisfied: transformers in /usr/local/lib/python3.7/dist-packages (4.9.2)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.19.5)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.62.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.0.12)
Requirement already satisfied: huggingface-hub==0.0.12 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.0.12)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.6.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from transformers) (21.0)
Requirement already satisfied: tokenizers<0.11,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.10.3)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers) (0.0.45)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (5.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from huggingface-hub==0.0.12->transformers) (3.7.4.3)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->transformers) (2.4.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.0.1)

In [31]:
data.head()

         Date  ... finbert
0  2020-07-16  ...       2
1  2020-07-17  ...       2
2  2020-07-20  ...       2
3  2020-07-21  ...       1
4  2020-07-21  ...       0

[5 rows x 4 columns]

In [40]:
aggregation_functions = {'Price': 'mean', 'Title': 'first', 'finbert': 'mean'}
data = data.groupby(data['Date']).aggregate(aggregation_functions)

In [41]:
#data.head()
data['7day_sentiment'] = round(data['finbert'].ewm(span=7).mean())

In [42]:
data.columns

Index(['Price', 'Title', 'finbert', '7day_sentiment'], dtype='object')

In [43]:
data['perc_change'] =data['Price'].pct_change(periods=1)*100

In [45]:
data.head(175)

                  Price  ... perc_change
Date                     ...
2020-07-16  1843.400024  ...         NaN
2020-07-17  1911.699951  ...    3.705106
2020-07-20  1919.900024  ...    0.428941
2020-07-21  1971.550049  ...    2.690246
2020-07-22  2004.000000  ...    1.645911
...                 ...  ...         ...
2021-08-06  2089.050049  ...   -0.698750
2021-08-08  2088.050049  ...   -0.047869
2021-08-10  2088.050049  ...    0.000000
2021-08-11  2117.300049  ...    1.400828
2021-08-16  2174.000000  ...    2.677937

[175 rows x 5 columns]