<a href="https://colab.research.google.com/github/varunsawhney8/Projects/blob/main/seleniumchrome.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install kora -q
from kora.selenium import wd
browser=wd

     |████████████████████████████████| 57 kB 2.2 MB/s
     |████████████████████████████████| 56 kB 3.1 MB/s

In [5]:
import pandas as pd
import string
import re
from os import listdir
from nltk.corpus import stopwords
import numpy as np
import nltk
import requests
import os
#import streamlit as st
import altair as alt
#from newspaper import Article
from bs4 import BeautifulSoup as bs
import requests
#from newspaper import Config
from selenium import webdriver
import time
company={1: ['INFOSYS','INFY.NS'], 2:['TATA CONSULTANCY SERVICES','TCS.NS'] , 3: ['RELIANCE INDUSTRIES','RELIANCE.NS'],
 4: ['ICICI BANK','ICICIBANK.NS'] , 5: ['HDFC BANK','HDFCBANK.NS'], 6:[ 'HCL TECHNOLOGIES','HCLTECH.NS'],
 7:['BHARTI AIRTEL','BHARTIARTL.NS'], 8: ['INDUSIND BANK','INDUSINDBK.NS'], 9: ['STATE BANK OF INDIA','SBIN.NS'],
10: ['LARSEN & TOUBRO','LTI.NS'], 11: ['TECH MAHINDRA','TECHM.NS'], 12: ['AXIS BANK','AXISBANK.NS'],
13: ['ITC','ITC.NS'], 14: ['BAJAJ AUTO','BAJAJ-AUTO.NS'], 15:['OIL AND NATURAL GAS CORPORATION','ONGC.NS'],
16: ['TATA STEEL','TATASTEEL.NS'], 17: ['NTPC','NTPC.NS'], 18: ['MAHINDRA & MAHINDRA','M&M.NS'],
19: ['ASIAN PAINTS','ASIANPAINT.NS'], 20:[ 'POWER GRID CORPORATION OF INDIA','POWERGRID.NS'],
21: ['BAJAJ FINSERV','BAJAJFINSV.NS'], 22: ['TITAN COMPANY','TITAN.NS'],23: ['NESTLE INDIA','NESTLEIND.NS'],
24:['ULTRATECH CEMENT','ULTRACEMCO.NS'], 25: ['SUN PHARMACEUTICAL INDUSTRIES','SUNPHARMA.NS'],
26:['BAJAJ FINANCE','BAJFINANCE.NS'], 27: ['MARUTI SUZUKI INDIA','MARUTI.NS'], 28: ['HOUSING DEVELOPMENT FINANCE CORP.','HDFC.NS'],
29: [ 'HINDUSTAN UNILEVER','HINDUNILVR.NS'], 30: ['KOTAK MAHINDRA BANK','KOTAKBANK.NS'] }

x=input("Enter any company code: ")
x=int(x)
url = "https://www.ndtv.com/search?searchtext="+str(f"{company[x][0]}")

browser.get(url)

for i in range(0,1):
    browser.find_element_by_xpath("//a[@class= 'src_mre-btn']").click()
    time.sleep(10)

browser.find_element_by_xpath("//a[@class='notnow']").click()
time.sleep(5)

for i in range(0,7):
    browser.find_element_by_xpath("//a[@class= 'src_mre-btn']").click()
    time.sleep(10)

soup = bs(browser.page_source,"html.parser")
news = soup.find_all("article", class_ = "col-650 ml-auto")

title_data = []  
title_content = []

for news_1 in news:
    news_message = news_1.find_all("div", class_ = "src_itm-ttl")
    for i in range(0,len(news_message)):
        title_content.append(news_message[i].get_text())
        title_content[:] = [titles.lstrip('\n') for titles in title_content]
        title_content[:] = [titles.rstrip('\n') for titles in title_content]
        title_data = title_data + title_content

date_data = []  
date_content = []

for date_1 in news:
    date_publish = date_1.find_all("span", class_ = "src_itm-stx")
    for i in range(0,len(date_publish)):
        date_content.append(date_publish[i].get_text())
        date_content[:] = [dates.lstrip('\n') for dates in date_content]
        date_content[:] = [dates.rstrip('\n') for dates in date_content]
        date_data = date_data + date_content

############ converting into dataframe 

ndtv_data = pd.DataFrame(columns = ["Date", "Title"])

ndtv_data["Title"] = title_data
ndtv_data["Date"] = date_data

ndtv_data.drop_duplicates(subset=None, inplace=True)

#### Changing date format

ndtv_data["Date"]= ndtv_data["Date"].str.replace('January', "01") \
.str.replace('February', "02") \
    .str.replace('March', "03,") \
        .str.replace('April', "04,") \
            .str.replace('May', "05,") \
                .str.replace('June', "06,") \
                    .str.replace('July', "07,") \
                        .str.replace('August', "08,") \
                            .str.replace('September', "09,") \
                                .str.replace('October', "10,") \
                                    .str.replace('November', "11,") \
                                        .str.replace('December', "12,")

ndtv_data['Date'] = ndtv_data['Date'].str[5:]


def find_number(text):
    num = re.findall(r'[0-9]+',text)
    return " ".join(num)

ndtv_data['Date']=ndtv_data['Date'].apply(lambda x: find_number(x))

ndtv_data['Date'] = ndtv_data['Date'].str[-10:]

ndtv_data['Date'] = ndtv_data['Date'].str.replace(r'\D', '')

ndtv_data["Date"] = pd.to_datetime(ndtv_data['Date'], format = '%m%d%Y')

#st.write(ndtv_data.head())
#st.write(ndtv_data.tail())

# Yahoo Finance Data

import yfinance as yf 

company_nse = yf.download(f'{company[x][1]}',start=ndtv_data['Date'][ndtv_data.index[-1]] ,end=ndtv_data['Date'][ndtv_data.index[0]])

################### Merging data ##############################################
## company
## Replacing column name with spaces into underscores

company_nse.columns = company_nse.columns.str.replace(" ", "_")

company_nse_2 =company_nse[["Close"]]

#st.write(company_nse_2.head())
#st.write(company_nse_2.tail())

Enter any company code: 5

NoSuchElementException: ignored

In [4]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 5.1 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23918 sha256=e91fd5325592099b4b96cce14d8c02d11d7a7af030216c24ecac26b8b2f833b5
  Stored in directory: /root/.cache/pip/wheels/fe/87/8b/7ec24486e001d3926537f5f7801f57a74d181be25b11157983
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.63

In [3]:
ndtv_data.head()

         Date                                              Title
0  2021-09-02  Nifty Resumes Record-Breaking Rally After A Da...
2  2021-09-02  Sensex, Nifty Edge Higher Led By Gains In TCS,...
5  2021-09-01  Sensex, Nifty Snap Three-Day Record-Breaking S...
9  2021-08-17  Sensex, Nifty Extend Record-Breaking Streak, L...
14 2021-08-09  Sensex, Nifty Edge Higher Led By Gains In IT, ...

In [6]:

import numpy as np
import pandas as pd
# List of Tuples
matrix = [(10, 56, 17),
          (np.NaN, 23, 11),
          (49, 36, 55),
          (75, np.NaN, 34),
          (89, 21, 44)
          ]
# Create a DataFrame
abc = pd.DataFrame(matrix, index = list('abcde'), columns = list('xyz'))
 
# output
abc

      x     y   z
a  10.0  56.0  17
b   NaN  23.0  11
c  49.0  36.0  55
d  75.0   NaN  34
e  89.0  21.0  44

In [16]:
abc.set_index('x')

         y   z
x
10.0  56.0  17
NaN   23.0  11
49.0  36.0  55
75.0   NaN  34
89.0  21.0  44

In [8]:

# find maximum value of each row
maxValues = abc.max(axis = 1)
print(maxValues)

a    56.0
b    23.0
c    55.0
d    75.0
e    89.0
dtype: float64

In [9]:

# find maximum value of each column without skipping NaN
maxValues = abc.max(skipna = False)
 
print(maxValues)

x     NaN
y     NaN
z    55.0
dtype: float64

In [11]:

# find maximum value of a
# single column 'x'
maxClm = abc['x'].max()
 
print("Maximum value in column 'x': " )
print(maxClm)

Maximum value in column 'x':
89.0

In [13]:

# find maximum values of a list of columns
maxValues = abc[['x', 'z']].max()
 
print("Maximum value in column 'x' & 'z': ")
print(maxValues)

Maximum value in column 'x' & 'z':
x    89.0
z    55.0
dtype: float64

In [14]:

# find the index position of maximum
# values in every column
maxValueIndex = abc.idxmax()
 
print("Maximum values of columns are at row index position :")
print(maxValueIndex)

Maximum values of columns are at row index position :
x    e
y    a
z    c
dtype: object

In [18]:
# find the index position of maximum
# values in every column
maxValueIndex = abc['x'].idxmax()
 
print("Maximum values of columns are at row index position :")
print(maxValueIndex)

Maximum values of columns are at row index position :
e